<div id="task_<%= task.id %>_details">
  <%= render "shared/card/base", card_class: "bg-base-100 shadow-md mb-3" do %>
    <%= render "shared/card/property_grid", columns: 2 do %>
      <%= render partial: "shared/card/item",
                locals: { property: "Status", value: format_task_status_badge(task.status) } %>
      <div id="task_<%= task.id %>_progress">
        <%= render partial: "shared/card/progress",
                  locals: { property: "Progress", value: task.progress } %>
      </div>
      <%= render partial: "shared/card/item",
                locals: { property: "Created", value: local_time(task.created_at) } %>
      <%= render partial: "shared/card/item",
                locals: { property: "Updated", value: local_time(task.updated_at) } %>
    <% end %>
  <% end %>
</div>
