<tr id="<%= dom_id(task) %>">
  <td>
    <%= link_to task.class.display_name,
                activity_task_path(task.activity, task),
                class: "link link-info" %>
  </td>
  <td><%= format_task_status_badge(task.status) %></td>
  <td><%= local_time(task.created_at) %></td>
  <td><%= local_time(task.updated_at) %></td>
  <td>
    <%= button_to run_activity_task_path(task.activity, task),
                  method: :post,
                  form: { "data-turbo": true },
                  class: "btn btn-success btn-sm inline-block",
                  form_class: "inline",
                  title: task.ok_to_run? ? "Run task" : "Not eligible to run",
                  disabled: !task.ok_to_run? do %>
      <%= icon "play", class: "size-3" %>
    <% end %>
  </td>
</tr>
