<%= turbo_stream_from @task %>

<div class="card bg-base-200 shadow-lg mb-4">
  <div class="card-body">
    <div class="flex justify-between items-center mb-6">
      <h2 class="card-title"><%= @task.class.display_name %></h2>
      <div>
        <%= link_to activity_path(@activity), class: "btn btn-info btn-sm" do %>
          <%= icon "arrow-uturn-left", class: "size-3" %>
        <% end %>
      </div>
    </div>

    <div id="<%= dom_id(@task) %>_details">
      <%= render "details", task: @task %>
    </div>
  </div>
</div>

<% if @task.has_feedback? %>
  <% taskfeedback = @task.feedback_for %>
  <% if taskfeedback.displayable? %>
    <%= render "feedback", feedback: taskfeedback.for_display %>
  <% else %>
    <p>We are busily generating feedback ... stand by!</p>
  <% end %>
<% end %>
