<%= turbo_stream_from @task %>

<div class="card mb-4">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0"><%= @task.class.display_name %></h5>
    <div>
      <%= link_to "Back to Activity", activity_path(@activity), class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </div>

  <div class="card-body" id="<%= dom_id(@task) %>_details">
    <%= render "details", task: @task %>
  </div>
</div>

<% if @task.feedback.present? %>
  <%= render "feedback", feedback: @task.feedback %>
<% end %>
