<%= turbo_stream_from @task %>

<%= render "shared/card/base", card_class: "bg-base-300 shadow-lg mb-4" do %>
  <% actions_content = capture do %>
    <%= link_to activity_path(@activity), class: "btn btn-info btn-sm" do %>
      <%= icon "arrow-uturn-left", class: "size-3" %>
    <% end %>
  <% end %>
  <%= render "shared/card/header",
             title: @task.class.display_name,
             actions: actions_content %>

  <div id="<%= dom_id(@task) %>_details">
    <%= render "details", task: @task %>
  </div>
<% end %>

<% if @task.has_feedback? %>
  <% taskfeedback = @task.feedback_for %>
  <% if taskfeedback.displayable? %>
    <%= render "feedback", feedback: taskfeedback.for_display %>
  <% else %>
    <p>We are busily generating feedback ... stand by!</p>
  <% end %>
<% end %>
