<div class="card bg-base-200 shadow-lg">
  <div class="card-body">
    <div class="flex justify-between items-center mb-6">
      <h2 class="card-title">Profile</h2>
      <div>
        <%= link_to "Back", :back, class: "btn btn-secondary btn-outline btn-sm" %>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-12 gap-4 mb-4">
      <div class="sm:col-span-4 font-bold">Email Address:</div>
      <div class="sm:col-span-8"><%= @user.email_address %></div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-12 gap-4 mb-4">
      <div class="sm:col-span-4 font-bold">CollectionSpace URL:</div>
      <div class="sm:col-span-8">
        <%= link_to @user.cspace_url, @user.cspace_url, target: "_blank", class: "link link-primary" %>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-12 gap-4 mb-4">
      <div class="sm:col-span-4 font-bold">API Version:</div>
      <div class="sm:col-span-8"><%= @user.cspace_api_version %></div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-12 gap-4 mb-4">
      <div class="sm:col-span-4 font-bold">Profile:</div>
      <div class="sm:col-span-8"><%= @user.cspace_profile %></div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-12 gap-4 mb-4">
      <div class="sm:col-span-4 font-bold">UI Version:</div>
      <div class="sm:col-span-8"><%= @user.cspace_ui_version %></div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-12 gap-4 mb-4">
      <div class="sm:col-span-4 font-bold">Data Toolkit Admin?</div>
      <div class="sm:col-span-8"><%= @user.admin? %></div>
    </div>
  </div>
</div>