<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">Profile</h2>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-sm-4 fw-bold">Email Address:</div>
            <div class="col-sm-8"><%= @user.email_address %></div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-4 fw-bold">CollectionSpace URL:</div>
            <div class="col-sm-8">
              <%= link_to @user.cspace_url, @user.cspace_url, target: "_blank", class: "text-decoration-none" %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-4 fw-bold">API Version:</div>
            <div class="col-sm-8"><%= @user.cspace_api_version %></div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-4 fw-bold">Profile:</div>
            <div class="col-sm-8"><%= @user.cspace_profile %></div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-4 fw-bold">UI Version:</div>
            <div class="col-sm-8"><%= @user.cspace_ui_version %></div>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <%= link_to "Back", :back, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>