<%= render "form", manifest_registry: @manifest_registry %>

<%= render "shared/card/base", card_class: "bg-base-300 shadow-lg" do %>
  <% actions_content = capture do %>
    <% if @manifest_registries.any? %>
      <%= button_to "Update Registries",
                    run_manifest_registry_path(@manifest_registries.first),
                    method: :post,
                    class: "btn btn-sm btn-success btn-outline" %>
    <% end %>
  <% end %>
  <%= render "shared/card/header",
             title: "Manifest Registries",
             actions: actions_content %>

  <% if @manifest_registries.any? %>
    <div id="manifest_registries">
      <%= render @manifest_registries %>
    </div>
  <% else %>
    <div class="alert alert-info">
      <%= icon "information-circle", class: "stroke-current shrink-0 w-6 h-6" %>
      <span>No manifest registries have been added yet.</span>
    </div>
  <% end %>
<% end %>
