<div class="card bg-base-200 shadow-lg">
  <div class="card-body">
    <h2 class="card-title mb-4">Dashboard</h2>
    <p class="mb-6">Welcome to your activities dashboard.</p>
    <div id="activities">
      <%= turbo_frame_tag :activities_page, @pagy.page, target: :_top do %>
        <% if @activities.empty? %>
          <div class="alert alert-info">
            <%= icon "information-circle", class: "stroke-current shrink-0 w-6 h-6" %>
            <span>No activities found.</span>
          </div>
        <% else %>
          <%= render partial: "activities/activity", collection: @activities, locals: {inline: true} %>
        <% end %>

        <% if @pagy.next %>
          <%= turbo_frame_tag :activities_page, @pagy.next, src: root_path(page: @pagy.next), loading: :lazy, target: :_top do %>
            <%= tag.div "Loading...", class: "text-center p-4" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>