<%= turbo_stream_from manifest %>
<div id="<%= dom_id(manifest) %>" class="card mb-3">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h6 class="mb-0 text-break">
      <a href="<%= manifest.url %>" target="_blank"><%= manifest.name_for_url %></a>
    </h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <span>Imported: <%= local_time(manifest.created_at) %></span>
      </div>
      <div class="col-md-6">
        <span>Data Configs: <%= manifest.data_configs_count %></span>
      </div>
    </div>
  </div>
</div>
