<div id="<%= dom_id(manifest) %>" class="card bg-base-100 shadow-md mb-3">
  <div class="card-body">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-lg font-medium break-all">
        <a href="<%= manifest.url %>" target="_blank" class="link link-primary"><%= manifest.name_for_url %></a>
      </h3>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <%= render partial: "shared/card/item",
                   locals: { property: "Imported", value: local_time(manifest.created_at) } %>
      </div>
      <div>
        <%= render partial: "shared/card/item",
                   locals: { property: "Data Configs", value: manifest.data_configs_count } %>
      </div>
    </div>
  </div>
</div>
