<div class="mb-6">
  <%= render partial: "shared/card/subtitle", locals: { title: "Batch Config" } %>
  <div class="collapse collapse-arrow">
    <input type="checkbox" />
    <div class="collapse-title text-sm font-medium">
      Show/Hide
    </div>
    <div class="collapse-content">
      <%= render "shared/card/property_grid", columns: 2 do %>
        <!-- Select field values column -->
        <div>
          <h4 class="font-medium mb-3">Selection Options</h4>

          <%= render "shared/card/property_grid", columns: 2 do %>
            <% BatchConfig.select_attributes.each do |attr_name| %>
              <div class="text-base-content/60"><%= attr_name.to_s.humanize %></div>
              <div class="font-medium"><%= activity.batch_config.send(attr_name) %></div>
            <% end %>
          <% end %>
        </div>

        <!-- Boolean field values column -->
        <div>
          <h4 class="font-medium mb-3">Toggle Options</h4>

          <%= render "shared/card/property_grid", columns: 2 do %>
            <% BatchConfig.boolean_attributes.each do |attr_name| %>
              <div class="text-base-content/60"><%= attr_name.to_s.humanize %></div>
              <div>
                <% if activity.batch_config.send(attr_name) %>
                  <span class="badge badge-success">Enabled</span>
                <% else %>
                  <span class="badge badge-neutral">Disabled</span>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>