<%= form.fields_for :batch_config do |batch_form| %>
  <%= render "shared/card/property_grid", columns: 2 do %>
    <!-- Select fields column -->
    <div>
      <h4 class="font-medium mb-3">Selection Options</h4>

      <% if activity.select_attributes.any? %>
        <%= render "shared/card/property_grid", columns: 2 do %>
          <% activity.select_attributes.each do |attr_name| %>
            <%= batch_form.label attr_name, class: "label-text font-medium" %>
            <div class="form-control">
              <%= batch_form.select attr_name,
                                    options_for_select(
                                      BatchConfig.values(attr_name),
                                      BatchConfig.default_value(attr_name)
                                    ),
                                    { include_blank: "Select option" },
                                    class: "select select-bordered w-full" %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="mb-4">
          <span class="label-text font-medium">No options to select</span>
        </div>
      <% end %>
    </div>

    <!-- Boolean fields column -->
    <div>
      <h4 class="font-medium mb-3">Toggle Options</h4>

      <%= render "shared/card/property_grid", columns: 2 do %>
        <% activity.boolean_attributes.each do |attr_name| %>
          <%= batch_form.label attr_name, class: "label-text font-medium" %>
          <div class="form-control">
            <%= batch_form.check_box attr_name, class: "toggle toggle-primary" %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>