<%= turbo_stream_from @activity %>

<%= render "shared/card/base", card_class: "bg-base-300 shadow-lg mb-6" do %>
  <div id="<%= dom_id(@activity) %>">
    <% actions_content = capture do %>
      <% if @activity.user == Current.user %>
        <%= button_to activity_path(@activity),
                      method: :delete,
                      data: { turbo_confirm: "Are you sure you want to delete this activity?" },
                      form_class: "inline",
                      class: "btn btn-error btn-sm" do %>
          <%= icon "trash", class: "size-3" %>
        <% end %>
      <% end %>
    <% end %>
    <%= render "shared/card/header",
               title: @activity.display_name,
               actions: actions_content %>

    <div class="mb-6">
      <%= render partial: "shared/card/subtitle", locals: { title: "Basic Information" } %>

      <%= render "shared/card/property_grid" do %>
        <%= render partial: "shared/card/info",
                   locals: { property: "Label", value: @activity.label } %>
        <%= render partial: "shared/card/info",
                   locals: {
                     property: data_config_type_label(@activity),
                     value: @activity.data_config.display_name
                   } %>
        <% if @activity.files.attached? %>
          <%= render partial: "shared/card/info",
                     locals: {
                       property: "Attached Files",
                       value: format_attached_files(@activity.files)
                     } %>
        <% end %>
        <%= render partial: "shared/card/info",
                    locals: { property: "Total Rows", value: @activity.data_items_count } %>
        <%= render partial: "shared/card/info",
                   locals: { property: "Created By", value: @activity.user.email_address } %>
        <%= render partial: "shared/card/info",
                   locals: { property: "Created On", value: local_time(@activity.created_at) } %>
      <% end %>
    </div>

    <% if @activity.config.any? %>
      <%= render partial: "activity_config", locals: { activity: @activity } %>
    <% end %>

    <% if @activity.batch_config.present? %>
      <%= render partial: "batch_config", locals: { activity: @activity } %>
    <% end %>
  </div>
<% end %>

<%= render "shared/card/base",
           card_class: "bg-base-300 shadow-lg" do %>
  <h2 class="card-title mb-4">Workflow Tasks</h2>
  <div class="overflow-x-auto">
    <table class="table table-hover bg-base-100">
      <thead>
      <tr>
        <th>Task</th>
        <th>Status</th>
        <th>Created</th>
        <th>Updated</th>
        <th></th>
      </tr>
      </thead>
      <tbody id="activity_<%= @activity.id %>_tasks">
      <%= render partial: "tasks/task", collection: @activity.tasks.order(:created_at) %>
      </tbody>
    </table>
  </div>
<% end %>
